/* paragraph font */
p {
  font-family: Arial;
}

/* h1 title color */
.title {
  color: white;
  font-family: Georgia;
}

/* publish time color */
.publish-time {
  color: black;
}

/* h1 block header color & alignment */
h1 {
  background-color: darkblue;
  padding: 20px;
  text-align: center;
}

/* h1 hover to orange */
h1:hover {
  background-color: orange;
}

/* paragraph first line color */
p::first-line {
  color: orange;
  font-variant: small-caps;
}

/* h2 navigation to cursive */
h2.navigation {
  font-family: cursive;
}

/* li and p to Georgia font */
li, p {
  font-family: Georgia;
}

/* centering the header */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* background color to lightgray */
body {
  background-color: lightgray;
}

body {
  margin: 0;
}

ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: white;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.sidenav li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}
 
ul.sidenav li a.active {
  background-color: darkblue;
  color: white;
}

ul.sidenav li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 25%;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 1024px){
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 629px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}
