/* paragraph font */
p {
  font-family: Arial;
}

/* h1 title color */
.title {
  color: white;
  font-family: Georgia;
}

/* publish time color */
.publish-time {
  color: black;
}

/* h1 block header color & alignment */
h1 {
  background-color: darkblue;
  padding: 20px;
  text-align: center;
}

/* h1 hover to orange */
h1:hover {
  background-color: orange;
}

/* paragraph first line color */
p::first-line {
  color: orange;
  font-variant: small-caps;
}

/* h2 navigation to cursive */
h2.navigation {
  font-family: cursive;
}

/* li and p to Georgia font */
li, p {
  font-family: Georgia;
}

/* centering the header */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* background color to lightgray */
body {
  background-color: lightgray;
}

body {
  margin: auto;
}

ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: white;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.sidenav li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}
 
ul.sidenav li a.active {
  background-color: darkblue;
  color: white;
}

ul.sidenav li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin: auto;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 1024px){
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  
  div.content {
    margin: auto;
  }
}

@media screen and (max-width: 629px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
  }
}
img {
  max-width: 100%;
  height: auto;
}
/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
